.pfade-enter-active,
.efade-enter-active,
.pfade-leave-active,
.efade-leave-active {
    transition: all 0.4s ease;
}

/* pfade */
.pfade-enter {
    transform: translateX(-70%);
}

.pfade-enter-to {
    transform: translateX(0);
}

.pfade-leave {
    transform: translateX(-60%);
}

.pfade-leave-to {
    transform: translateX(-150%);
}

/* efade */
.efade-enter {
    transform: translateX(70%);
}

.efade-enter-to {
    transform: translateX(0);
}

.efade-leave {
    transform: translateX(60%);
}

.efade-leave-to {
    transform: translateX(150%);
}


/*brfade*/
.brfade-enter {
    transform: translateX(80%);
}
.brfade-enter-to {
    transform: translateX(0%);
}



/*blfade*/
.blfade-enter {
    transform: translateX(-150%);
}
.blfade-enter-to {
    transform: translateX(2%);
}



.fun-fade-enter-active {

    animation: fun-fade-in 1s

}
.serach-fade-enter-active{
    animation: fun-fade-in .5s

}

@keyframes fun-fade-in {
    0% {
        
       
        transform: translate3d(0, -100px, 0);
        opacity: 0
    }

    100% {
        
  
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}





.msgbox-fade-enter-active {
    -webkit-animation: msgbox-fade-in .3s;
    animation: msgbox-fade-in .3s
}

.msgbox-fade-leave-active {
    -webkit-animation: msgbox-fade-out .3s;
    animation: msgbox-fade-out .3s
}


@-webkit-keyframes msgbox-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes msgbox-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes msgbox-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }

    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

@keyframes msgbox-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }

    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}