@font-face {
  font-family: "iconfont"; /* Project id 3351658 */
  src: url('//at.alicdn.com/t/font_3351658_45bfhz4skud.woff2?t=1653188696342') format('woff2'),
       url('//at.alicdn.com/t/font_3351658_45bfhz4skud.woff?t=1653188696342') format('woff'),
       url('//at.alicdn.com/t/font_3351658_45bfhz4skud.ttf?t=1653188696342') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuji:before {
  content: "\e815";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-chenggong:before {
  content: "\e615";
}

.icon-mybook:before {
  content: "\e670";
}
