@font-face {
    font-family: "iconfont"; /* Project id 3351658 */
    src: url('//at.alicdn.com/t/font_3351658_2vvb1i1xzc.woff2?t=1650692573626') format('woff2'),
         url('//at.alicdn.com/t/font_3351658_2vvb1i1xzc.woff?t=1650692573626') format('woff'),
         url('//at.alicdn.com/t/font_3351658_2vvb1i1xzc.ttf?t=1650692573626') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cuowu:before {
    content: "\e613";
  }
  
  .icon-chenggong:before {
    content: "\e615";
  }
  
  .icon-mybook:before {
    content: "\e670";
  }
  